<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.kejcs.sadg">


    <application android:name="be.kejcs.sadg.SleepJournalApp" android:allowBackup="true" android:label="Socially Awkward Dancing Game"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />

        <activity android:name="be.kejcs.sadg.MainActivity"
            android:label="SADG"
            android:screenOrientation="portrait">
            <!-- The intent-filter below makes sure this activity is launched when launching the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="be.kejcs.sadg.ExampleActivity"
            android:label="@string/example"
            android:parentActivityName="be.kejcs.sadg.MainActivity"
            >
            <!-- For API versions lower than 16, we have to add this meta-data-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.kejcs.sadg.MainActivity" />
        </activity>
        <activity android:name="be.kejcs.sadg.EventActivity"
            android:label="EVENTS"
            android:parentActivityName="be.kejcs.sadg.MainActivity"
            >
            <!-- For API versions lower than 16, we have to add this meta-data-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.kejcs.sadg.MainActivity" />
        </activity>

        <activity android:name="be.kejcs.sadg.StartTimeActivity"
            android:label="Select StartTime"
            android:parentActivityName="be.kejcs.sadg.EventActivity"
            >
            <!-- For API versions lower than 16, we have to add this meta-data-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.kejcs.sadg.EventActivity" />
        </activity>

        <activity android:name="be.kejcs.sadg.EndTimeActivity"
            android:label="Select EndTime"
            android:parentActivityName="be.kejcs.sadg.StartTimeActivity"
            >
            <!-- For API versions lower than 16, we have to add this meta-data-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.kejcs.sadg.StartTimeActivity" />
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>